* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

hmtl {
  font-size: 10px;
  font-family: 'Roboto', Arial, sans-serif;
  scroll-behavior: smooth;
}

:root {
  --colorA: #18206F;
  --colorB: #17255A;
  --colorC: #7ac6ca;
  --colorD: #A2C0E7;
  --colorE: #8B8B8B;
  --colorF: rgba(162,192,231, 0.5);
  --text-shadow: 0px 4px 3px rgba(0,0,0,0.2),
  0px 8px 13px rgba(0,0,0,0.4);
  --background: url(https://images.pexels.com/photos/667838/pexels-photo-667838.jpeg);
  
}

header {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    var(--colorA), var(--colorB)
  );
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}
header > h2 {
  color: var(--colorD);
  padding-top: 20px;
  text-shadow: var(--text-shadow);
}
nav {
  width: 50%;
	max-width: 300px;
	height: 75px;
}

nav > ul {
  display: flex;
	justify-content: space-evenly;
  flex-wrap: wrap;
	align-items: center;
	padding-inline-start: 0;
	margin-block: 0;
	height: 100%;
}

nav > ul > li {
  color: var(--colorD);
  text-shadow: var(--text-shadow);
  margin: 0 0.2rem;
	padding: 0.2rem;
	display: block;
  border-radius: 35%;
  transition: 0.2s ease-out;
}

nav > ul > li:hover {
  background-color: var(--colorC);
  color: var(--colorB);
  font-weight: 500;
  font-size: 1.2em;
  border-radius: 35%;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

nav > ul > li:active {
  font-weight: 800;
}

li > a {
  color: inherit;
  text-decoration: none;
}

.welcome-section {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  color: var(--colorA);
  border-bottom: solid var(--colorB) 10px;
} 

.welcome-section::before {
  content: "";
  background: var(--background);
  background-size: cover;
  position: absolute;
  background-position: center;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.75;
}
.welcome-section >  .initial {
  background: var(--colorF);
  text-align: center;
  opacity: none;
  border-radius: 10%;
  padding: 20px; 
  position: relative;
}
 

h1 {
  font-size: 3em;
  font-family: Cambria;
  color: black;
  text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
  0px 8px 13px rgba(0,0,0,0.5),
  0px 18px 23px rgba(0,0,0,0.1);
}

.welcome-section p {
  font-size: 1.5em; 
  margin-top: 10px;
  text-shadow: var(--text-shadow);
}
.welcome-section > .skills {
  position: absolute;
  padding: 20px;
  bottom: 10px;
  right: 10px;
  color: black;
  font-weight: 500;
  background: var(--colorF);
  border-radius: 10%;
}
.welcome-section > .skills > .logos {
  margin-top: 10px;
  display: inline;
  padding: 20px;
}
.welcome-section > .skills > .logos > img {
  max-height: 50px;
  max-width: 50px;
}

.projects-section {
  background: var(--colorF);
  padding: 40px 20px;
}
.projects-section h2 {
  font-size: 2em;
  font-family: Cambria;
  color: black;
  text-decoration: underline;
  text-align: center;
  text-shadow: var(--text-shadow);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 4rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
}

@media (max-width: 30.625em) {
  .projects-section {
    padding: 6rem 1rem;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }
}
